.dashboard {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 40px;
	margin-inline: 40px;
}

.right-section {
	display: grid;
	gap: 30px;
}

.spending {
	display: grid;
	width: 100%;
	gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
}

.recent-transactions {
	display: grid;
	gap: 20px;
}

.transactions-title {
	display: flex;
	justify-content: space-between;
}

.transactions-title h2 {
	font-size: var(--font-size-600);
	font-weight: var(--font-weight-semi-bold);
}

.dashboard-categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size: var(--font-size-300);
	color: var(--font-clr-secondary-200);
}

.dashboard-categories :not(:first-child) {
	text-align: center;
}
