.dashboard {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 40px;
	margin-inline: 40px;
}

.right-section {
	display: grid;
	gap: 30px;
}

.spending {
	display: grid;
	width: 100%;
	gap: 25px;
	grid-template-columns: 1fr 1fr 1fr;
}

.recent-transactions {
	display: grid;
	gap: 20px;
}

.transactions-title {
	display: flex;
	justify-content: space-between;
}

.transactions-title h2 {
	font-size: var(--font-size-600);
	font-weight: var(--font-weight-semi-bold);
}

.dashboard-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dashboard-top h3 {
	font-size: var(--font-size-500);
	font-weight: var(--font-weight-semi-bold);
}

.transactions-table {
	display: grid;
	gap: 20px;
}

/* Select */

.dashboard-top .select__input-container {
	color: var(--font-clr-primary);
}

.dashboard-top .select__control {
	background-color: var(--bg-clr-primary);
	color: var(--font-clr-primary);
	border-radius: 10px;
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-500);
	padding: 7.5px 10px;
}

.dashboard-top .select__single-value {
	color: var(--font-clr-primary);
}

.dashboard-top .select__menu {
	background-color: var(--bg-clr-primary);
	color: var(--font-clr-primary);
	border-radius: 10px;
}

.dashboard-top .select__option {
	transition: color 0.2s, background-color 0.2s;
}

.dashboard-top .select__option:hover {
	color: var(--bg-clr-primary);
	background-color: var(--font-clr-primary);
}

.dashboard-top .select__option--is-selected {
	background-color: var(--clr-primary);
	color: #1c1a2e;
}

.dashboard-top .select__option--is-focused {
	background-color: inherit;
	color: #fff;
}
