.categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size: var(--font-size-300);
	color: var(--font-clr-secondary-200);
}
.categories.categories-transactions {
	grid-template-columns: repeat(5, 1fr) 0.5fr;
}

.categories button {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.categories > p {
	text-align: center;
}

.categories > :first-child {
	margin-right: auto;
}

.categories.categories-transactions > :last-child {
	text-align: right;
	padding-right: 11px;
}

.categories img {
	transition: transform 0.3s;
}

.categories img.desc {
	transform: rotate(-90deg);
}

.categories img.asc {
	transform: rotate(90deg);
}
