.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.header-container h2 {
	font-size: var(--font-size-700);
	font-weight: var(--font-weight-semi-bold);
}

.header-profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background-color: var(--bg-clr-secondary);
	padding: 12px;
	border-radius: 2rem;
}

.header-profile p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header-profile .picture {
	border-radius: 50%;
	width: 36px;
}
