*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	height: 100vh;
	width: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Kumbh Sans', sans-serif;
}

button,
input {
	border: none;
	background: none;
	color: inherit;
}

button {
	cursor: pointer;
	display: block;
}

a {
	text-decoration: none;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

html:focus-within {
	scroll-behavior: smooth;
}

:root {
	--clr-primary: #c8ee44;
	--clr-secondary: #29a073;
	--font-clr-primary: #1b212d;
	--font-clr-secondary-300: #78778b;
	--font-clr-secondary-200: #929eae;
	--bg-clr-primary: #ffffff;
	--bg-clr-secondary: #fafafa;

	--font-size-300: 0.75em;
	--font-size-400: 0.875em;
	--font-size-500: 1em;
	--font-size-600: 1.125em;
	--font-size-700: 1.5625em;
	--font-size-800: 1.875em;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
}

.dark {
	--bg-clr-primary: #1c1a2e;
	--font-clr-primary: #ffffff;
}

.app-container {
	background-color: var(--bg-clr-primary);
	color: var(--font-clr-primary);
}

.logo {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: var(--font-size-600);
	font-weight: var(--font-weight-bold);
}

.app-container {
	height: 100vh;
	display: flex;
	flex-grow: 1;
}

.page-container {
	width: 100%;
}

.dark-mode {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	z-index: 1;
}
