.transaction-dashboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-top: 1px solid var(--font-clr-secondary-300);
	padding-top: 20px;
}
.transaction-transactions {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
	border-top: 1px solid var(--font-clr-secondary-300);
	padding-top: 20px;
}

.transaction-recurring {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--font-clr-secondary-300);
	padding-top: 20px;
}

.transaction-transactions :not(:first-child),
.transaction-dashboard :not(:first-child) {
	text-align: center;
}

.name,
.amount,
.date,
.type {
	font-size: var(--font-size-400);
	font-weight: var(--font-weight-medium);
}

.name {
	display: flex;
	gap: 10px;
	align-items: center;
}

.amount.expense {
	color: #e5363d;
}
.amount.income {
	color: #19d076;
}

.type,
.date {
	color: var(--font-clr-secondary-200);
}

.transactions-title button {
	color: #29a073;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	font-size: var(--font-size-400);
	font-weight: var(--font-weight-medium);
}

.transaction-button {
	margin-left: auto;
	width: fit-content;
	font-size: var(--font-size-400);
	font-weight: var(--font-weight-semi-bold);
	border-radius: 10px;
	padding: 11px 20px;
	background-color: var(--bg-clr-secondary);
	color: var(--font-clr-primary);
	border: 1px solid var(--font-clr-primary);
	transition: color 0.2s, background-color 0.2s;
}

.transaction-button:hover {
	color: #1b212d;
	background-color: var(--clr-primary);
}

.invoice-container {
	position: relative;
	display: grid;
	place-items: center;
}

.transactions .invoice {
	width: 10ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-inline: auto;
}

.invoice-full {
	position: absolute;
	display: none;
	color: var(--font-clr-primary);
	background-color: var(--bg-clr-secondary);
	padding: 5px;
	border-radius: 10px;
}

.invoice-container:hover .invoice-full {
	display: block;
	z-index: 1;
}
